<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Menu Films</title>
	</head>
	<body>	

<!--  		<h1 id="logged">
		    Hello <span sec:authentication="user"></span>
		</h1>
-->

		<form action="#" th:action="@{/home}" method="post">
			<table>
				<tr>            
				    <td><input type="text" id="name" name="name"/></td>                    
                    <td><button type="submit">Search</button></td>
				</tr>
			</table>
		</form>
		
		<!-- Search Result -->
		<div class="service" th:unless="${#lists.isEmpty(films)}">
			<table>
				<tr>

					<th> Name </th>
					<th> Video </th>
					<th> Description </th>
					<th> Year </th>
					<th> Director </th>
					<th> Reparto </th>
					<th> Portada</th>
					<th> Value </th>

				</tr>
				
				<tr th:each="film : ${films}">
					<td th:text="${film.name}">This is a film</td>
					<td><a th:href="'show?video=' + ${film.video}">Ver Pelicula</a></td>
					<td th:text="${film.description}">This is a film</td>
					<td th:text="${film.year}">This is a film</td>
					<td th:text="${film.director}">This is a film</td>
					<td th:text="${film.reparto}">This is a film</td>
					<td th:text="${film.portada}">This is a film</td>
					<td th:text="${film.value}">This is a film</td>
				</tr>
			</table> 
		</div>
		
		<ul> 
			<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/management/users"> Management Users </a> </li>
			<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/management/films"> Management Films </a> </li>
		</ul>
		
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
				
	</body>
</html>
