<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	  <meta charset="utf-8"/>
	  <link rel="stylesheet" href="/css/login.css" type="text/css"/>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  <title th:text="#{storep}"></title>
	  
	  <script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
	  <script src="/js/jquery.validate.min.js" type="text/javascript"></script>
	  <script src="/js/login.js" type="text/javascript"></script>
	  
   </head>
	<body>
	<div class="headerP">
		<h1 th:text="#{storep}"></h1>	
		<div class="lan">	
			<a href="?lang=es"><img class="iconolan" alt="" th:src="@{/images/es.png}"/></a>
			<a href="?lang=en"><img class="iconolan" alt="" th:src="@{/images/en.png}"/></a>  			
		</div>
		<div class="Hi">	
			<span th:text="#{hi} + ', '"></span><span sec:authentication="name"></span>
			<form th:action="@{/logout}" method="post">
				<input id="btsingout" type="submit" th:value="#{singout}"/>
			</form> 	  			
		</div>					
	</div>
	
		<div class="rowP">
			<div class="col-2 menu">
				<ul>
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/management/users" th:text="#{MUsers}"></a> </li>
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/management/films" th:text="#{MFilms}" ></a> </li>
				</ul>
			</div>
			<div class="col-10">
			  	<h2 id="search" th:text="#{search}"></h2>
				<form id="formSearchf" action="#" th:action="@{/home}" method="post">
					<input type="text" id="name" name="title"/><br/><br/>                
					<input type="submit" th:value="#{search}"/>
				</form>
				<h2 th:text="#{listfilms}" th:if="${not #lists.isEmpty(films)}"></h2>		
				<div class="newpform" th:if="${not #lists.isEmpty(films)}">     
			        <table class="tablelist">
						<tr>
							<th th:text="#{title}"></th>
							<th th:text="#{year}"></th>
							<th th:text="#{director}"></th>
							<th th:text="#{description}"></th>
							<th th:text="#{actors}"></th>
							<th th:text="#{rating}"></th>
							<th th:text="#{poster}"></th>
							<th sec:authorize="hasRole('ROLE_ADMIN')"></th>
							<th sec:authorize="hasRole('ROLE_ADMIN')"></th>
							<th></th>
						</tr>
						 <tr th:each="film : ${films}">
								<td><h6 th:text="${film.Title}"></h6></td>
								<td><h6 th:text="${film.Year}"></h6></td>
								<td><h6 th:text="${film.Director}"></h6></td>
								<td><h6 th:text="${film.Plot}"></h6></td>
								<td><h6 th:text="${film.Actors}"></h6></td>
								<td><h6></h6>Ratings</td>
								<!-- <td><h6 th:text="${film.Ratings}"></h6></td>  -->
								<td><img id="imgPosterList" th:src="${film.Poster}"/></td>
								<td sec:authorize="hasRole('ROLE_ADMIN')"><a id="txtEditf" th:href="${'/edit/film/' + film.Title}"><img id="imgDelEdit" alt="" th:src="@{/images/edit.png}"/></a></td>
			                	<td sec:authorize="hasRole('ROLE_ADMIN')"><a id="txtDeletef" th:href="${'/delete/film/' + film.Title}"><img id="imgDelEdit" alt="" th:src="@{/images/delete.png}"/></a></td>
			                	<td><a id="txtView" th:href="${'/view/film/' + film.Title}"><img id="imgDelEdit" alt="" th:src="@{/images/view.png}"/></a></td> 
							</tr>
					</table> 
				</div> 		  	    	  
			</div>
		</div>		
	</body>
</html>









						<!-- <tr>
							<th> Name </th>
							<th> Video </th>
							<th> Description </th>
							<th> Year </th>
							<th> Director </th>
							<th> Reparto </th>
							<th> Portada</th>
							<th> Value </th>
						</tr>
						    <tr th:each="film : ${films}">
							<td th:text="${film.name}">This is a film</td>
							<td><a th:href="'show?video=' + ${film.video}">Ver Pelicula</a></td>
							<td th:text="${film.description}">This is a film</td>
							<td th:text="${film.year}">This is a film</td>
							<td th:text="${film.director}">This is a film</td>
							<td th:text="${film.reparto}">This is a film</td>
							<td th:text="${film.portada}">This is a film</td>
							<td th:text="${film.value}">This is a film</td>
						</tr> -->
						
						
