
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
	  <meta charset="ISO-8859-1"/>
	  
	  <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" /> -->
	  
      <link rel="stylesheet" href="/css/login.css" type="text/css"/>
      
      <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="application/javascript"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="application/javascript"></script>  -->

      <title th:text="#{storep}"></title>
   </head>
	<body>
	
		<div class="headerP">
			<h1 th:text="#{storep}"></h1>	
			<div class="lan">	
				<a href="?lang=es"><img class="iconolan" alt="" th:src="@{/images/es.png}"/></a>
				<a href="?lang=en"><img class="iconolan" alt="" th:src="@{/images/en.png}"/></a>  			
			</div>					
		</div>
	
		<div class="rowP">
			<div class="col-3 menu">
				<ul>
					<li><a href="/" th:text="#{home}"></a></li>
					<li><a href="/" th:text="#{createu}"></a></li>
				</ul>
			</div>
			<div class="col-9">
			  <h2 th:text="#{login}"></h2>
			  
			    <form id="formnuevo" role="form" th:action="@{/login}" method="post">
			        <div class="newpform">
			            
			            <label th:text="#{user}"></label><br/>
			            <input type="text" id="user" name="username"/><br/><br/>
			            <label th:text="#{pass}"></label><br/>
			            <input type="password" id="password" name="password"/><br/><br/>
						<input type="submit" th:value="#{login}"></input>
					 </div>	
			    </form> 		  	  
			</div>
		</div>	

	</body>
</html>