<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	  <link rel="stylesheet" href="/css/login.css" type="text/css"/>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  <title th:text="#{storep}"></title>
	  
	  <script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
	  <script src="/js/jquery.validate.min.js" type="text/javascript"></script>
	  <script src="/js/login.js" type="text/javascript"></script>

   </head>
	<body>
		<div class="headerP">
			<h1 th:text="#{storep}"></h1>	
			<div class="lan">	
				<a href="?lang=es"><img src="/images/es.png" class="iconolan" alt="ES"/></a>
				<a href="?lang=en"><img src="/images/en.png" class="iconolan" alt="EN"/></a>  			
			</div>					
		</div>
	
		<div class="rowP">
			<div class="col-2 menu">
				<ul>
					<li><a th:href="@{/create/user}" th:text="#{createu}"></a></li>
				</ul>
			</div>
			<div class="col-10">
			  <h2 th:text="#{login}"></h2>
			  
			    <form id="formlogin" role="form" th:action="@{/login}" method="post">
			        <div class="newpform">
			            
			            <label th:text="#{user}"></label><br/>
			            <input type="text" id="username" name="username"/><br/><br/>
			            <label th:text="#{pass}"></label><br/>
			            <input type="password" id="password" name="password"/><br/><br/>
						<input type="submit" id="login" th:value="#{login}"></input>
					 </div>	
			    </form> 		  	  
			</div>
		</div>
	</body>
</html>