<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	  <meta charset="utf-8"/>
	  <link rel="stylesheet" href="/css/login.css" type="text/css"/>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  <title th:text="#{storep}"></title>
   </head>
   
	<body>
	<div class="headerP">
		<h1 th:text="#{storep}"></h1>	
		<div class="lan">	
			<a href="?lang=es"><img class="iconolan" alt="" th:src="@{/images/es.png}"/></a>
			<a href="?lang=en"><img class="iconolan" alt="" th:src="@{/images/en.png}"/></a>  			
		</div>
		<div class="Hi">	
			<span th:text="#{hi} + ', '"></span><span sec:authentication="name"></span>
			<form th:action="@{/logout}" method="post">
				<input id="btsingout" type="submit" th:value="#{singout}"/>
			</form> 	  			
		</div>					
	</div>
	
		<div class="rowP">
			<div class="col-2 menu">
				<ul>
					<li><a th:href="@{/home}" th:text="#{home}"></a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/management/films" th:text="#{MFilms}" ></a> </li>
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/management/users" th:text="#{MUsers}"></a> </li>
					<!-- <li><a href="/logout" th:text="#{singout}" ></a> </li>   -->
				</ul>
			</div>
		<div class="col-9">
					<h2 th:text="#{addfilm}"></h2>

				       <div class="newpform">
				        <table class="tablelist">

							<tr>
								<td rowspan="7" ><img id="imgPosterAdd" alt="Poster" th:src="${film.Poster}"/></td>
							</tr>			        
							<tr>
								<th th:text="#{title}"></th>
								<td><h6 th:text="${film.Title}"></h6></td>
							</tr>
							<tr>
								<th th:text="#{year}"></th>
								<td><h6 th:text="${film.Year}"></h6></td>
							</tr>
							<tr>
								<th th:text="#{director}"></th>
								<td><h6 th:text="${film.Director}"></h6></td>
							</tr>
							<tr>
								<th th:text="#{plot}"></th>
								<td><h6 th:text="${film.Plot}"></h6></td>		
							</tr>
							<tr>
								<th th:text="#{actors}"></th>
								<td><h6 th:text="${film.Actors}"></h6></td>
							</tr>
							<!-- <tr>
								<td></td>
								<td>Ratings</td>
								<td></td>
							</tr>
								
							<tr th:each="rating : ${film.Ratings}">
								<td></td>
								<td><h6 th:text="${rating.Source}"></h6></td>
								<td></td>
							</tr>  -->

							<tr>
								<td><h6 th:text="${result}"></h6></td>
								<td colspan="2">
										<a th:href="${'/addfilm/' + film.Title}"><img id="imgDelEdit" alt="" th:src="@{/images/db.png}"/></a>
										<a href="/management/films"><img id="imgDelEdit" alt="" th:src="@{/images/cancel.png}"/></a>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
	</body>
</html>


































<!-- 
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"
			type="application/javascript"></script>
		
			<script type="application/javascript">
		      	$(document).ready(function() {
		      		console.log("Hello world!!");
		      	});	
			</script>
		
		<title>Management Films</title>
	</head>
	<body>
		<form action="#" th:action="@{/management/films/confirm}" method="post">
			<table>
				<tr>
					<td>Title</td>
					<td><h6 th:text="${film.Title}"></h6></td>
					<td><input type="hidden" th:field="${film.Title}"/></td>
				</tr>
		
				<tr>
					<td>Year</td>
					<td><h6 th:text="${film.Year}"></h6></td>
					<td><input type="hidden" th:field="${film.Year}"/></td>
				</tr>
		
				<tr>
					<td>Director</td>
					<td><h6 th:text="${film.Director}"></h6></td>
					<td><input type="hidden" th:field="${film.Director}"/></td>
				</tr>
		
				<tr>
					<td>Poster</td>
					<td><img th:src="${film.Poster}" /></td>
					<td><input type="hidden" th:field="${film.Poster}"/></td>
				</tr>
		
				<tr>
					<td>Description</td>
					<td><h6 th:text="${film.Plot}"></h6></td>
					<td><input type="hidden" th:field="${film.Plot}"/></td>
				</tr>
				<tr>
					<td>Actors</td>
					<td><h6 th:text="${film.Actors}"></h6></td>
					<td><input type="hidden" th:field="${film.Actors}"/></td>
				</tr>
				<tr>
					<td>Ratings</td>
					<td><input type="hidden" th:field="${film.Ratings}"/></td>
				</tr>
				<tr th:each="rating : ${film.Ratings}">
					<td>
						<h6 th:text="${rating.Source}"></h6>
					</td>
				</tr>
				<tr>
					<td>
						<p th:text="${result}"> </p>
					</td>
				</tr>
				<tr>
					<td>
						<button type="submit" value="Confirm"></button>
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>  -->
