<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Management Films</title>
	</head>
	<body>
		<h1>Management Films</h1>
		<p> 
			Crear una nueva película, borrar peliculas, ver el número de peliculas de la base de 
			datos. Cuando cree una nueva pelicula podré el nombre y la url del video. Autocompletar
			hará la llamada rest para obtener la info de la película. Después solo tendrá que añadir
			la película a la base de datos. Insertar o actualizar la peliculas.
			
			Borrar la película.
			
			Listar películas para borrarlas.
		</p>
		 <form action="#" th:action="@{/management/users}" th:object="${user}" method="post">
			 <table>
	                <tr>            
	                    <td>Name</td>
	                    <td><input type="text" id="code" name="code" th:field="*{code}"/></td>
	                    <td th:if="${#fields.hasErrors('code')}" th:errors="*{code}">Code Error</td>
	                </tr>
	                <tr>
	                    <td>Password</td>
	                    <td><input type="password" id="password" name="password" th:field="*{password}"/></td>
	                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</td>
	                </tr>
	                <tr>
	                    <td>Confirm Password</td>
	                    <td><input type="password" id="passwordConfirm" name="passwordConfirm"/></td>
	                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</td>
	                </tr>
					<tr>
						<td>Email:</td>
						<td><input type="text" id="email" name="email" th:field="*{email}"/></td>
						<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
					</tr>
	                <tr>
	                    <td><button type="submit">Confirm</button></td>
	                    <td><button type="reset">Clear</button></td>
	                </tr>
	            </table>
			</form>		
			<a th:href="@{/home}">Back</a>
	</body>
</html>