<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
	type="application/javascript"></script>

<script type="application/javascript">
      	$(document).ready(function() {
      		console.log("Hello world!!");
      	});
</script>

<title>Management Films</title>
</head>
<body>
	<h1>Management Films</h1>
	<form action="#" th:action="@{/management/films/create}" method="post">
		<table>
			<tr>
				<td>Title</td>
				<td><input type="text" name="title" /></td>
			</tr>
			<tr>
				<td>URL</td>
				<td><input type="text" name="url" /></td>
			</tr>
			<tr>
				<td><button type="submit">Auto Complete</button></td>
			</tr>
		</table>
	</form>
	<a th:href="@{/home}">Back</a>
</body>
</html>