<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Management Users</title>
	</head>
	<body>
		<h1>Management Users</h1>
		<p>
			Listar los usuarios, buscar usuario para borrarlo
			crear un nuevo  usuario. Formulario con contraseña 
			usuario y correo electrónico.
				Dar de alta -> crea el usuario o cambia su estado Alta.
				Dar de baja -> Modifica su estado a baja.
				Modificar 
				Elminar.	
		</p>
		
		  <form action="#" th:action="@{/management/users}" th:object="${user}" method="post">
			 <table>
			 
	                <tr>            
	                    <td>Name</td>
	                    <td><input type="text" id="name" name="name" th:field="*{name}"/></td>
	                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">User Error</td>
	                </tr>
	                
	                <tr>
	                    <td>Password</td>
	                    <td><input type="password" id="password" name="password" th:field="*{password}"/></td>
	                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
	                </tr>
					
					<tr>
						<td>Email:</td>
						<td><input type="text" id="email" name="email" th:field="*{email}"/></td>
						<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
					</tr>
	                
	                <tr>
	                	<td>Admin:</td>
					  	<td><input type="checkbox" name="admin" th:object="${admin}"/></td>
	                </tr>
	                
	                <tr>
	                    <td><button type="submit">Confirm</button></td>
	                </tr>
	                
	            </table>
			</form>		
		
			<a th:href="@{/home}">Back</a>
	</body>
</html>