<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	  <meta charset="utf-8"/>
	  <link rel="stylesheet" href="/css/login.css" type="text/css"/>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  <title th:text="#{storep}"></title>
	  	  	  
	  <script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
	  <script src="/js/jquery.validate.min.js" type="text/javascript"></script>
	  <script src="/js/login.js" type="text/javascript"></script>
	  
   </head>
	<body>
	<div class="headerP">
		<h1 th:text="#{storep}"></h1>	
		<div class="lan">	
			<a href="?lang=es"><img class="iconolan" alt="" th:src="@{/images/es.png}"/></a>
			<a href="?lang=en"><img class="iconolan" alt="" th:src="@{/images/en.png}"/></a>  			
		</div>
		<div class="Hi">	
			<span th:text="#{hi} + ', '"></span><span sec:authentication="name"></span>
			<form th:action="@{/logout}" method="post">
				<input id="btsingout" type="submit" th:value="#{singout}"/>
			</form> 	  			
		</div>					
	</div>
	
		<div class="rowP">
			<div class="col-2 menu">
				<ul>
					<li><a th:href="@{/home}" th:text="#{home}"></a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/management/films" th:text="#{MFilms}" ></a> </li>
					<!-- <li><a href="/logout" th:text="#{singout}" ></a> </li> -->
				</ul>
			</div>
			<div class="col-10">
				<h2 id="search" th:text="#{search}"></h2>
				<form id="formMuser" action="#" th:action="@{/management/users}" method="post">
					<input type="text" id="name" name="user"/><br/><br/>               
		            <input type="submit" th:value="#{search}"/>
				</form>
				
				<h2 th:text="#{listuser}"></h2>
			    <div class="newpform" th:if="${not #lists.isEmpty(users)}">     
			        <table class="tablelist">
			            <tr>			                
			                <th th:text="#{name}"></th>
			                <th th:text="#{email}"></th>
			                <th th:text="#{roles}"></th> 
			                <th></th>
			                <th></th> 			               
			            </tr>
			            <tr th:each="user : ${users}">
			                <td th:text="${user.name}"></td>
			                <td th:text="${user.email}"></td>
			                
			                <td th:text="${user.roles}"></td>
			                <!--<td>
							  <span th:if="${user.roles} == '[ROLE_ADMIN]'">ADMIN</span>
							  <span th:if="${user.roles} == '[ROLE_USER]'">USER</span>
			                </td> -->

			                <td sec:authorize="hasRole('ROLE_ADMIN')"><a id="txtRol" th:href="${'/user/admin/' + user.name}"><img id="imgDelEdit" alt="" th:src="@{/images/edit.png}"/></a></td>
			                <td sec:authorize="hasRole('ROLE_ADMIN')"><a id="txtDelete" th:href="${'/delete/user/' + user.name}"><img id="imgDelEdit" alt="" th:src="@{/images/delete.png}"/></a></td>  
			            </tr>
			        </table>
			    </div> 
			    		  	  
			</div>
		</div>	

	</body>
</html>






























<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Management Users</title>
	</head>
	<body>
		<h1>Management Users</h1>		
		  <form action="#" th:action="@{/management/users}" th:object="${user}" method="post">
			 <table>
			 
	                <tr>            
	                    <td>Name</td>
	                    <td><input type="text" id="name" name="name" th:field="*{name}"/></td>
	                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">User Error</td>
	                </tr>
	                
	                <tr>
	                    <td>Password</td>
	                    <td><input type="password" id="password" name="password" th:field="*{password}"/></td>
	                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
	                </tr>
					
					<tr>
						<td>Email:</td>
						<td><input type="text" id="email" name="email" th:field="*{email}"/></td>
						<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
					</tr>
	                
	                <tr>
	                	<td>Admin:</td>
					  	<td><input type="checkbox" name="admin" th:object="${admin}"/></td>
	                </tr>
	                
	                <tr>
	                    <td><button type="submit">Confirm</button></td>
	                </tr>
	                
	            </table>
			</form>		
		
			<a th:href="@{/home}">Back</a>
	</body>
</html>
 -->