<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	  <meta charset="utf-8"/>
	  <link rel="stylesheet" href="/css/login.css" type="text/css"/>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  <title th:text="#{storep}"></title>
   </head>
	<body>
	<div class="headerP">
		<h1 th:text="#{storep}"></h1>	
		<div class="lan">	
			<a href="?lang=es"><img class="iconolan" alt="" th:src="@{/images/es.png}"/></a>
			<a href="?lang=en"><img class="iconolan" alt="" th:src="@{/images/en.png}"/></a>  			
		</div>
		<div class="Hi">	
			<span th:text="#{hi} + ', '"></span><span sec:authentication="name"></span>
			<form th:action="@{/logout}" method="post">
				<input id="btsingout" type="submit" th:value="#{singout}"/>
			</form> 	  			
		</div>					
	</div>
	<div class="rowP">
		<div class="col-2 menu">
			<ul>
				<li><a th:href="@{/home}" th:text="#{home}"></a></li>
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/management/films" th:text="#{MFilms}" ></a> </li>
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/management/users" th:text="#{MUsers}"></a> </li>
			</ul>
		</div>
		
		<div class="col-10">
			<h2 th:text="${film.title}"></h2>
			<div class="newpform" th:if="${not #lists.isEmpty(film)}">
				        <table class="tablelist">
				        	<tr id="trailertr">
				        		<td colspan="3" id="trailertd">
				        		<iframe id="trailerif" th:src="@{'https://www.youtube.com/embed/' + ${film.trailer}}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen="allowfullscreen"></iframe> 
				        		</td>
				        	</tr>			        
							<tr>
								<th th:text="#{title}"></th>
								<td><h6 th:text="${film.Title}"></h6></td>
							</tr>
							<tr>
								<th th:text="#{year}"></th>
								<td><h6 th:text="${film.Year}"></h6></td>
							</tr>
							<tr>
								<th th:text="#{director}"></th>
								<td><h6 th:text="${film.Director}"></h6></td>
							</tr>
							<tr>
								<th th:text="#{plot}"></th>
								<td><h6 th:text="${film.Plot}"></h6></td>		
							</tr>
							<tr>
								<th th:text="#{actors}"></th>
								<td><h6 th:text="${film.Actors}"></h6></td>
							</tr>
							<!-- <tr>
								<td></td>
								<td>Ratings</td>
								<td></td>
							</tr>
							<tr th:each="rating : ${film.Ratings}">
								<td></td>
								<td><h6 th:text="${rating.Source}"></h6></td>
								<td></td>
							</tr>  -->
						</table>
					</div>
		</div>
	</div>
</body>
</html>