<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	  <meta charset="utf-8"/>
	  <link rel="stylesheet" href="/css/login.css" type="text/css"/>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  <title th:text="#{storep}"></title>
	  	  	  	  
	  <script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
	  <script src="/js/jquery.validate.min.js" type="text/javascript"></script>
	  <script src="/js/login.js" type="text/javascript"></script>
	  
   </head>
	<body>
	<div class="headerP">
		<h1 th:text="#{storep}"></h1>	
		<div class="lan">	
			<a href="?lang=es"><img class="iconolan" alt="" th:src="@{/images/es.png}"/></a>
			<a href="?lang=en"><img class="iconolan" alt="" th:src="@{/images/en.png}"/></a>  			
		</div>
		<div class="Hi">	
			<span th:text="#{hi} + ', '"></span><span sec:authentication="name"></span>
			<form th:action="@{/logout}" method="post">
				<input id="btsingout" type="submit" th:value="#{singout}"/>
			</form> 	  			
		</div>					
	</div>
	<div class="rowP">
		<div class="col-2 menu">
			<ul>
				<li><a th:href="@{/home}" th:text="#{home}"></a></li>
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/management/films" th:text="#{MFilms}" ></a> </li>
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/management/users" th:text="#{MUsers}"></a> </li>
			</ul>
		</div>
		
		<div class="col-10">
			<h2 th:text="#{editfilm}"></h2>
				
		    <form id="formEditfilm" th:action="@{/film/update}" method="post">
		        <div class="newpform">
		            <label for="name" th:text="#{title}" ></label><br/>
		            <input type="text" id="titletext" name="title" th:value="${title}" readonly="readonly"/><br/><br/>
		            <label for="urlt"  th:text="#{urlt}"></label><br/>
		            <input type="text" id="urltext" name="urlt"/><br/><br/>
					<input type="submit" th:value="#{save}"></input>
				 </div>	
		    </form> 		    
		    <table>
		    	<tr>
		    		<td>
		    			<h2 th:text="#{step1}"></h2>
		    			<h2 th:text="#{step1message}"></h2>
		    			<img alt="" th:src="@{/images/youtube.jpg}"/>
		    			
		    		</td>
		    		<td>
		    			<img alt="" th:src="@{/images/arrow.png}"/>
		    		</td>
		    		<td>
		    			<h2 th:text="#{step2}"></h2>
		    			<h2 th:text="#{step2message}"></h2>
		    			<img alt="" th:src="@{/images/pasteurl.jpg}"/>
		    		</td>
		    	</tr>
		    </table>
		    
		</div>
	</div>
</body>
</html>
